body{
    background-image: url(image9.jpg);
    color: #000000;
    background-size: cover;
}
#navBar{
    text-align: center;
    display: inline;
    font-size: large;
    
}
#navBar h1{
    display: inline;
    color: maroon;
    padding-left: 80px;
    padding-right: 60px;
    font-family: garamond;
}
#navBar a{
    color: #000000 ;
    font-weight: 900;
    padding-right: 50px;
    text-decoration: none;
}
#searchBar{
    display: inline;
}
#searchBar input{
    width: 200px;
    height: 25px;
    border: 2px solid maroon;
    text-align: center;
    border-radius: 5px;
}
#searchBar button {
    color: #ffffff;
    background-color: maroon;
    width: 100px;
    height: 35px;
    border-radius: 5px;
    border-color: maroon;
    font-weight: bold;
}
main{
    padding-left: 80px;
    padding-top: 100px;

}
#mainblock{
    float: left;
    width: 50%;
    line-height: 20px;
}
#sideblock{
    float: right;
    width: 40%;
}
#first{
    color: #000000;
    font-size: 50px;
}
#second{
    color: maroon;
    font-size: 70px;
}
#mainblock p{
    font-weight: bold;
    line-height: 25px;
    margin-top: 20px;
}
#mainblock button{
    background-color: maroon;
    color: #000; ;
    width:150px ;
    height: 40px;
    border-radius: 10px;
    border-color: maroon;
    font-weight: bolder;
    margin-top: 30px;
}
#sideblock{
    background-color: #000000;
    opacity: 0.9;
    margin-right: 150px;
    height: 450px;
    width: 250px;
    border-radius: 30px;
    text-align: center;
    padding-top: 20px;
}
#sideblock h1{
    border: 10px solid #ffffff;
    border-radius: 50px;
    background-color: maroon;
    color: #000000;
    margin: 5px;
    padding: 5px;
}
#sideblock input{
    padding-left: 10px;
    width: 80%;
    height: 30px;
    margin: 10px;
    margin-top: 20px;
    background-color:maroon;
    color: #000000;
    border-color: maroon;
    border-radius: 20px;
}
#sideblock button{
    width: 150px;
    height: 30px;
    border-radius: 20px;
    border-color: maroon;
    color: #000000;
    background-color: maroon;
    margin-top: 20px;

}
#sideblock h4{
    color: #ffffff;
}
#sideblock h6{
    color: #ffffff;
}
#link{

    text-decoration: none;
    color: maroon;
}
.fa {
    padding:15px;
    padding-top: 5px;
    font-size: 20px;
    width: 5px;
    height: 2px;
    text-align: center;
    text-decoration: none;
    
  }
 .fa:hover {
    opacity: 0.7;
}
.fa-facebook {
    background:#3B5998;
    color: white;
  }
  
  .fa-twitter {
    background: #55ACEE;
    color: white;
  }
  
  .fa-google {
    background: #dd4b39;
    color: white;
  }
  .fa-instagram {
    background: #125688;
    color: white;
  }